.select {
  position: relative;
  display: flex;
  border-radius: 0.25em;
  overflow: hidden;
}
.select_course {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  cursor: pointer;
}
.select_course::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  width: 100%;
  height: 100%;
  content: "\1F4BE";
  font-size: 25px;
  position: absolute;
  top: -2px;
  right: 0;
  background-color: white;
  color: white;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

.not-valid {
  box-shadow: 10px 5px 5px red;
}
