:root {
  --clr-boton-1: #111427;
  --clr-boton-2: #d81e5b;

  --clr-text-1: white;
}
.header {
  width: 100%;
  min-height: 6rem;
  padding: 0 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.211);
}
.container_logo {
  display: flex;
  align-items: center;
}
.container_logo img {
  width: 13%;
  min-width: 40px;
}
.container_logo h1 {
  font-size: 2em;
  margin-left: 15px;
  letter-spacing: 1px;
}
/* navegation */
.header_navegation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2em;
}
.header_navegation ul li button {
  padding: 0.7em 1em;
  text-align: center;
}
.button_header1 {
  background: var(--clr-boton-1);
  color: var(--clr-text-1);
}
.button_header2 {
  background-color: var(--clr-boton-2);
  color: var(--clr-text-1);
  transition: 0.2s ease-in;
}
.button_header2:hover {
  filter: grayscale(30%);
}
