:root {
  --clr-boton-1: #2bb35c;
  --clr-boton-2: #d81e5b;

  --clr-text-1: white;
}
.header {
  width: 100%;
  min-height: 5.5rem;
  padding: 0 3rem;

  display: flex;
  align-items: center;
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.211);
  justify-content: space-between;
}
.container_logo {
  display: flex;
  align-items: center;
}
.container_logo img {
  width: 3.5rem;
}
.container_logo h1 {
  font-size: 2em;
  margin-left: 0.625rem;
  letter-spacing: 1px;
  font-size: clamp(30px, 3vw, 35px);
}
/* navegation */
.header_navegation ul {
  width: 29.3625rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.header_navegation ul li {
  display: flex;
  align-items: center;
}
.btn_navegation {
  border: none;
  outline: none;
  padding: 0.7em 1em;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all ease 100ms;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}
.btn_navegation:hover {
  opacity: 0.95;
}
.btn_navegation:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px rgba(0, 0, 0, 0.5);
}
#btnAddCourse {
  background-color: var(--clr-boton-1);
}
#btnCrossesCourse {
  background-color: var(--clr-boton-2);
}
.button_toggle_menu {
  display: none;
}
.container_logo.active_menu {
  display: none;
}
.container_bClosed_navegation {
  display: none;
}
