:root {
  --clr-3: #3e23ef;
  --clr-4: #e9ecef;
  --clr-5: #f9fafb;
  --clr-text-1: white;
}
.container_table {
  width: 95%;
  min-height: 550px;
  border-radius: 5px;
  margin: 1.25rem 0 3.125rem 0;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(7, minmax(180px, 1fr));
  overflow: auto;
  gap: 0.2em;
  background-color: var(--clr-5);
  padding: 1rem;
}
.container_column {
  display: grid;
  grid-auto-rows: max-content;
  gap: 0.2em;
  font-size: 1em;
}
.container_column_title {
  background-color: var(--clr-3);
  color: var(--clr-text-1);
  text-align: center;
  border-radius: 5px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 0.9375rem 0.625rem;
  letter-spacing: 2px;
}
.container_cell {
  height: 7.5em;
  text-align: center;
  background-color: var(--clr-4);
  border-radius: 5px;
  padding: 0.9375rem 0.625rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title_cell {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 700;
  font-size: 17px;
}
.hor_cell {
  font-size: 15.5px;
}
.buttons_cell {
  display: flex;
  justify-content: flex-end;
  gap: 3px;
}
.buttons_cell button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  color: var(--clr-text-1);
}
.buttons_cell button:nth-child(1) {
  background: #0cd868;
}
.buttons_cell button:nth-child(2) {
  background: #ef233c;
}
.buttons_cell button:hover {
  filter: grayscale(30%);
}
/* dark mode */
